.sidebar a {
   transition: all 0.3s ease-in-out;
}

.sidebar a:hover {
   background-color: rgba(255, 255, 255, 0.1);
   padding-left: 1rem;
}

.sidebar {
   transition: transform 0.3s ease-in-out;
   width: 15.5rem;
   position: fixed;
   height: 100vh;
   left: 0;
   top: 0;
   padding: 0.8rem;
   border-radius: 2rem;
}


@media (max-width: 768px) {
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Lebar penuh */
    height: auto; /* Tinggi menyesuaikan */
    background-color: white; /* Sesuaikan warna */
    z-index: 50; /* Pastikan di atas elemen lain */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }
   /* Saat sidebar ditambahkan class .open, tampilkan kembali */
   #sidebar.open {
     transform: translateX(0);
   }
   #main-content {
     margin-left: 0; /* saat sidebar tertutup, main memenuhi layar */
     transition: margin-left 0.3s ease;
   }

   /* Styling tombol close (X) */
  #closeSidebar {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #333;
  }

  #closeSidebar:hover {
    color: red;
  }
 }