# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-lock.yaml

# vendor
vendor/

# Environment files
*.env
**/*.env
.env.php
config.php

# OS / Editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

# Build / Dist folders
dist/
build/
public/storage/

# Cache
*.cache
.cache/

# log file
src/log/

# Services
asoka-461004-c0b99b8beff3.json

# Configuration files
aa_kon_sett.php

# File upload user
uploaded_img/

# Build/minified files
*.min.js
*.min.css

# PHP cache
*.php.cache

# Editor/backup files
*~
*.swp
*.swo

# Test/coverage
coverage/
.nyc_output/


# Log files
*.log

# Local database
*.sqlite
*.sqlite3
*.db
*.sql

# Local config
config.env

#qur
qur.text.env*
