Options -Indexes -MultiViews

RewriteEngine On

ErrorDocument 404 /errorpage.php
ErrorDocument 403 /errorpage.php
ErrorDocument 401 /src/component/error_token.php
ErrorDocument 429 /error429.php
ErrorDocument 500 /error500.php

RewriteCond %{REQUEST_URI} ^/errorpage\.php$ [NC,OR]
RewriteCond %{REQUEST_URI} ^/error500\.php$ [NC,OR]
RewriteCond %{REQUEST_URI} ^/error429\.php$ [NC]
RewriteRule ^ - [L]

RewriteRule ^\.well-known/ - [L,NC]
RewriteCond %{REQUEST_URI} !^/maintanance\.php$ [NC]

RewriteCond %{REQUEST_URI} ^/iclock/ [NC]
RewriteRule ^iclock/cdata$ iclock/cdata.php [L]
RewriteRule ^iclock/getrequest$ iclock/getrequest.php [L]
RewriteRule ^iclock/idata$ iclock/devicecmd.php [L]
RewriteCond %{REQUEST_URI} ^/iclock [NC]
RewriteRule ^ - [L]

<FilesMatch "^\.(?!well-known)">
    Require all denied
</FilesMatch>
<FilesMatch "(^#.*#|\.(bak|config|dist|fla|inc|ini|log|psd|sh|sql|sw[op]|env))$">
    Require all denied
</FilesMatch>
<Files "aa_kon_sett.php">
    Order Allow,Deny
    Deny from all
</Files>

php_value upload_max_filesize 10M
php_value post_max_size 12M

RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?/] [NC]
RewriteRule ^ /%1 [R=301,L,NE]

RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [E=HTTP_AUTHORIZATION:%1]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/$1.php -f
RewriteRule ^(.+?)/?$ $1.php [L]

RewriteRule ^index/?$ / [R=301,L]

<IfModule mod_headers.c>
    Header set Connection keep-alive
    Header set X-XSS-Protection "1; mode=block"
</IfModule>